{% extends 'base.html' %}

{% block con %}

<div class="ab" style="padding-top: 50px;">
    <div class="container mb-5" style="font-size: 20px; font-weight: bold; color: white;">
        <h1>{{user}}'s Profile</h1>
        <hr>
        <img src ="{{ user.getpic }}" class="rounded-circle" width="10%">
        <div class="mb-3 mt-5">
            <label class="form-label">USERNAME</label><br>
            <input type ="text" value ="{{user}}" disabled><br>
        </div>
        <div class="mb-3">
            <label class="form-label">PASSWORD</label><br>
            <input type ="text" value ="{{ user.pass }}" disabled><br>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label><br>
            <input type ="text" value ="{{user.email}}" disabled><br>
        </div>
        <div class="mb-3">
            <label class="form-label">Comment</label><br>
            <textarea class="form-control" disabled style="font-weight: bold; height: 50px">{{ user.comment }}</textarea>
        </div>
        <div class ="text-end">
            <a href ="{% url 'main:update' %}"><button class="btn btn-outline-light">UPDATE</button></a>
            <a href ="{% url 'main:delete' %}"><button class="btn btn-outline-danger">계정삭제</button></a>
        </div>
    </div>
</div>
{% endblock%}


