{% extends 'base.html' %}
{% block con %}
  

<div class="container">  
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
    </nav>
  </div>
</div>

<main class="container" style="color: white;">
  <div class="p-4 p-md-5 mb-4">
    <div class="col-md-6 px-0">
      <h1 class="display-4">Hoon's Info</h1>
      <p class="lead my-3 mb-5">Journey to IT Dream 2022.06 ~  </p>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h2 class="pb-4 mb-4 border-bottom">
        🌠 통신 직무의 첫경험
      </h2>

      <article class="blog-post">
        <h4>IT 특기병을 통한 네트워크 직무 경험</h4>
        <blockquote class="blockquote">
          <p>영내 VOIP 전화 교체와, 성주 사드 배치 진지 통신망 구성</p>
        </blockquote>
        <ul>
          <li>영내 모든 네트워크 구성도 파악</li>
          <li>라우터, 스위치 위치 확인</li>
          <li>전자실 DB를 이용해 전화번호 생성</li>
          <li>스위치와 포트를 활용해 죽은 포트 및 사용 가능 포트 확인</li>
          <li>UTP-Cable 제작 후 연결 및 통신 확인</li>
        </ul>
        <p style="float: right;">2015.11 ~ 2017.08  by <a href="#">Hoon</a></p>
      </article>
  </br><br><br>
      
      <h2 class="pb-4 mb-4 border-bottom">🌠 IT 공부의 서막</h2>

      <article class="blog-post">
          <h4>국비 지원을 통해 IT 직무에 대한 접근</h4>
          <blockquote class="blockquote">
            <p>Public 클라우드를 활용한 보안 및 활용</p>
          </blockquote>
          <ul>
            <li>Network OSI 7 Layer와 TCP/IP등 전반적인 개념 학습</li>
            <li>Python을 활용한 Django 웹 구축</li>
            <li>Window, Linux를 통한 os 역할 및 기능과 On-Primise에 대한 개념을 학습</li>
            <li>AWS Cloud를 통해 Public 환경 구축</li>
          </ul>
          <p style="float: right;">2015.11 ~ 2017.08  by <a href="#">Hoon</a></p>
      </article>
  </br><br> 


      <h2 class="pb-4 mb-4 fst-italic border-bottom">🌠 실무 경험을 쌓기 위한 도약</h2>
      <article class="blog-post">
          <h4>실무 경험을 위한 준비</h4>
          <blockquote class="blockquote">
            <p>AWS의 실무 경험을 위한 한걸음</p>
          </blockquote>
          <ul>
            <li>네트워크 관리사 자격중 취득 (2022.10)</li>
            <li>Django web 개발 & AWS EC2,RDS & Linux uWSGI, Nginx & Docker image file을 통해 웹 배포 </li>
            <li>AWS의 VPC, EC2, RDS, IAM 등을 통해 서버 구축</li>
          </ul>
          <p style="float: right;">2015.11 ~ 2017.08  <b style="color: rgb(83, 83, 247);">by Hoon</b></p>
      </article>
  </br><br> 


  <h2 class="pb-4 mb-4 fst-italic border-bottom">🌟 다짐 </h2>
    <article class="blog-post">
      <h2 class="blog-post-title mb-1" style="color: rgb(74, 252, 119);">Time is Money</h2><br>
      <p>시간의 가치를 가장 소중하게 생각합니다.<br>
         저로 인해 누군가가 시간적 손해를 입지 않았으면 좋겠습니다
      <p>그렇기 때문에 시작은 느릴수도 있겠지만 확실하게</p><p>익숙함과 편안함에 안주하지 않고 계속 발전해 나갈것입니다.</p>
      <p style="float: right;">2015.11 ~ 2017.08  <b style="color: rgb(83, 83, 247);">by Hoon</b></p>
    </article>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded" style="color: black;">
          <h5 class="blog-post-title mb-1">AWS 엔지니어가 되기 위한 여정</h5>
          <p class="blog-post-meta">JUN 4, 2022 by HOON</p>  
          <p>6년간의 바리스타 생활과 새로운 도전</p>
        </div>

        <div class="p-4">
          <h4>이력</h4>
          <ol class="list-unstyled mb-0">
            <li>~2017 군 전역</li>
            <li>2017.11 ~ 2018.11 스타벅스 근무</li>
            <li>2019.3 ~ 2019.12 더 드로잉룸 근무</li>
            <li>2020.01 ~ 2021.05 폴 바셋 근무</li>
            <li>2021.06 ~ 2022.01 테라로사 근무</li>
            <li>2022.03 ~ 2022.07 it 공부</li>
            <li>2022.10 ~ 2022.04 국비지원</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="blog-footer text-center">
  <p>
    <a href="#" style="font-size: 50px;"><button class="btn btn-outline-info">맨 위로</button></a>
  </p>
</footer>

    
{% endblock %}