{% extends 'base.html' %}
{% block con %}
  

<div class="container">  
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Hoon's Website</h1>
      <p class="lead my-3 mb-5">Production period 2022 12 ~ 01 </p>
    </div>
  </div>

  <div class="row mb-2" style="color: white;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">AWS</strong>
          <h3 class="mb-0">AWS Project</h3>
          <div class="mb-1 text-muted">Jan 17 ~ March 27</div>
          <p class="card-text mb-auto">Infrastructure construction using public private cloud</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="#" width="270px" height="250px" style="background-color: white;">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Django</strong>
          <h3 class="mb-0">Django Project</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="mb-auto">Creating web pages using Django and Python</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="#" width="270px" height="250px" style="background-color: white;">
        </div>
      </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        First Step
      </h3>

      <article class="blog-post">
        <h2>IT 특기병을 통한 네트워크 직무 경험</h2>
        <p>2015.11 ~ 2017.08  by <a href="#">Hoon</a></p>
        <blockquote class="blockquote">
          <p>영내 VOIP 전화 교체와, 성주 사드 배치 진지 통신망 구성</p>
        </blockquote>
        <ul>
          <li>영내 모든 네트워크 구성도 파악</li>
          <li>라우터, 스위치 위치 확인</li>
          <li>전자실 DB를 이용해 전화번호 생성</li>
          <li>스위치와 포트를 활용해 죽은 포트 및 사용 가능 포트 확인</li>
          <li>UTP-Cable 제작 후 연결 및 통신 확인</li>
        </ul>
      </article>
  </br><br>
      
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
          Second Step
      </h3>

      <article class="blog-post">
          <h2>국비 지원을 통해 IT 직무에 대한 접근</h2>
          <p>2022.10 ~ 2023.04  by <a href="#">Hoon</a></p>
          <blockquote class="blockquote">
            <p>Public 클라우드를 활용한 보안 및 활용</p>
          </blockquote>
          <ul>
            <li>Network OSI 7 Layer와 TCP/IP등 전반적인 개념 학습</li>
            <li>Python을 활용한 Django 웹 구축</li>
            <li>Window, Linux를 통한 os 역할 및 기능과 On-Primise에 대한 개념을 학습</li>
            <li>AWS Cloud를 통해 Public 환경 구축</li>
          </ul>
      </article>
  </br><br> 


      <h3 class="pb-4 mb-4 fst-italic border-bottom">
          Final Step
      </h3>
      <article class="blog-post">
          <h2>실무 경험을 위한 준비</h2>
          <p>2023.04 ~  by <a href="#">Hoon</a></p>
          <blockquote class="blockquote">
            <p>AWS의 실무 경험을 위한 한걸음</p>
          </blockquote>
          <ul>
            <li>AWS SCA 취득을 통한 AWS의 전반적인 개념을 학습</li>
            <li>네트워크 관리사 자격중 취득 (2022.10)</li>
            <li>Django web 개발 & AWS EC2,RDS & Linux uWSGI, Nginx & Docker image file을 통해 웹 배포 </li>
            <li>AWS의 VPC, EC2, RDS, IAM 등을 통해 서버 구축</li>
          </ul>
      </article>
  </br><br> 


  <h3 class="pb-4 mb-4 fst-italic border-bottom">
      Ready
  </h3>
  <article class="blog-post">
      <h2 class="blog-post-title mb-1">돈과 시간의 가치</h2>
      <p class="blog-post-meta">2023.04 ~ by <a href="#">hoon</a></p>

      <p>누구에게나 돈과 시간은 소중하다고 생각합니다</p>
      <blockquote>
        <p>그렇기 때문에 <strong>항상 낮고 성실한 자세로</strong> 모든 일에 임해보려 합니다.</p>
      </blockquote>
      <p>저로 인해 누군가의 시간과 돈이 낭비 되는 것을 싫어하기 때문입니다. 잘 부탁드립니다.</p>
  </article>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded" style="color: black;">
          <h5 class="blog-post-title mb-1">AWS 엔지니어가 되기 위한 여정</h5>
          <p class="blog-post-meta">JUN 4, 2022 by HOON</p>  
          <p>6년간의 바리스타 생활과 새로운 도전</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Journey</h4>
          <ol class="list-unstyled mb-0">
            <li>~2017 군 전역</li>
            <li>2017.11 ~ 2018.11 스타벅스 근무</li>
            <li>2019.3 ~ 2019.12 더 드로잉룸 근무</li>
            <li>2020.01 ~ 2021.05 폴 바셋 근무</li>
            <li>2021.06 ~ 2022.01 테라로사 근무</li>
            <li>2022.03 ~ 2022.07 it 공부</li>
            <li>2022.10 ~ 2022.04 국비지원</li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
          </ol>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="blog-footer text-center">
  <p>
    <a href="#">▲</a>
  </p>
</footer>

    
{% endblock %}